extends: default.liquid
---
<div class="cover-container">
  <div class="inner cover">
    <h1 class="cover-heading">JAMstack Boston</h1>
    <p class="lead">Discussing a new way of building websites and apps that delivers better performance, higher security, lower cost of scaling, and a better developer experience.</p>
    <p class="lead">
      <a href="https://www.meetup.com/JAMstack-Boston/" class="btn btn-lg btn-default">Learn more</a>
    </p>
  </div>
</div>

<div class="blog-post-container">
  <h2>What's new?</h2>
  <!--<br />-->
  <div class="blog-post-body">
    {% for post in posts %}
      <div class="blog-post">
        <h4 class="blog-post-date {{post.title}}"></h4>
        <h4 class="blog-post-link"><a href="{{post.path}}">{{ post.title }}</a></h4>
  		  <script>
          var date = new Date("{{post.date}}");
  		    var Month = new Array("January","February","March","April","May","June","July","August","September","October","November","December");
  		    var title = new String("{{post.title}}").split(" ");
  		    var number = title[title.length - 1];

  		    var date_str = date.getDate() + " " + Month[date.getMonth()] + " " + date.getFullYear();
  		    document.getElementsByClassName(number)[0].innerText = date_str;
  		  </script>
      </div>

    {% endfor %}
  </div>
</div>
